<div class="block--embed">
    <div class="content">
    	<div class="embed--placeholder">
    		{% if placeholder %}
    			<div class="placeholder" style="background-image: url('{{ placeholder }}')"></div>
    		{% endif %}
    	</div>
		<iframe 
			class="embed--iframe"
			{% if id %}id="{{ id }}"{% endif %}
			data-src="{{ url }}"
			{% if width %}width="{{ width }}"{% endif %}			
			{% if height %}height="{{ height }}"{% endif %}
			frameborder="0"
			allowtransparency="true"
			allowfullscreen
			webkitallowfullscreen
			mozallowfullscreen
			oallowfullscreen
			msallowfullscreen
		>
		</iframe>
		<div class="embed--spacer"></div>
		{% if html %}{{ html }}{% endif %}
    </div>
</div>
